{% extends "layout/basic.html" %}
{% block title %}Карта {{ details.card_number }}{% endblock %}
{% block content %}
    <div class="col-12">
        <h4>Карта</h4>
        <p>Серия: {{ card_detail.card_series }} Номер: {{ card_detail.card_number }}. Статус: {{ card_detail.card_status }}</p>
        <p>Действительна от: {{ card_detail.card_issue_date }} до: {{ card_detail.card_expiration_date }}</p>
        <p>Дата последнего использования: {{ card_detail.card_date_of_use }}</p>
        <p>Остаток бонусов на карте: {{ card_detail.card_bonus_amount }}</p>
        {% if card_detail.card_status == 'Не активна' %}
            <a href="{% url 'activate' card_detail.pk %}"><button type="button" class="btn btn-success">Активировать</button></a>
        {% elif card_detail.card_status == 'Активна' %}
            <a href="{% url 'activate' card_detail.pk %}"><button type="button" class="btn btn-success">Деактивировать</button></a>
        {% endif %}
        <a href="{% url 'delete' card_detail.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a>
    </div>
    <br>
    <h4>История покупок</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Дата покупки</th>
                <th>Сумма покупки</th>
                <th>Изменение бонусов</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in details %}
            {% if detail.card == card_detail %}
                <tr>
                    <td>{{ detail.date_last_use }}</td>
                    <td>{{ detail.purchase_amount }}</td>
                    <td>{{ detail.changing_amount_bonuses }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
